<header class="flex justify-center fixed w-full z-50">
    <div class="container flex items-center justify-between">
        <a href="index.html">
            <svg class="w-[126px] h-[58.66px]">
                <use href="./images/header/header-icons.svg#icon-logo-blue"></use>
            </svg>
        </a>
        <nav class="flex items-center">
            <ul class="flex">
                <li class="py-[35px] px-[18px]">
                    <a href="#"
                        class="navlink flex items-center text-[16px] text-[#252541] font-medium leading-[1]">Management</a>
                </li>
                <li class="py-[35px] px-[18px]">
                    <a href="#"
                        class="navlink flex items-center text-[16px] text-[#252541] font-medium leading-[1]">Marketing</a>
                </li>
                <li class="py-[35px] px-[18px]">
                    <a href="#"
                        class="navlink flex items-center text-[16px] text-[#252541] font-medium leading-[1]">Increase
                        Sales</a>
                </li>
                <li class="py-[35px] px-[18px]">
                    <a href="#"
                        class="navlink flex items-center text-[16px] text-[#252541] font-medium leading-[1]">Services
                        <svg class="w-[14px] h-[16px] ml-2.5">
                            <use href="./images/header/header-icons.svg#icon-arrow-down"></use>
                        </svg></a>
                </li>
                <li class="py-[35px] px-[18px]">
                    <a href="#"
                        class="navlink flex items-center text-[16px] text-[#252541] font-medium leading-[1]">Plans &
                        Pricing<svg class="w-[14px] h-[16px] ml-2.5">
                            <use href="./images/header/header-icons.svg#icon-arrow-down"></use>
                        </svg></a>
                </li>
            </ul>
            <button
                class="text-[16px] text-white font-medium leading-[1] border-none bg-[#f89e52] rounded-[20px] cursor-pointer ml-14 py-[19px] px-[33px]"
                type="button">Speak With Us!</button>
        </nav>
    </div>
</header>