<section class="flex justify-center bg-hero-pattern bg-no-repeat bg-left-top pt-32 pb-[120px]">
    <div class=" ball-small"></div>
    <div class="ball-medium"></div>
    <div class="ball-big"></div>
    <div class="container flex">
        <div class="w-full flex flex-col justify-center">
            <h3
                class="text-[18px] text-[#fff1e7] font-medium leading-[1] capitalize bg-[#f79d5a] px-[23px] py-[12px] mb-9 rounded-full w-fit">
                social media
                marketing
                that
                works!</h3>
            <h1 class="text-6xl text-[#2a2a2a] font-bold leading-[1.1] capitalize mb-8">save time <br /> build
                connections
                increase profits</h1>
            <ul class="flex items-center mb-14">
                <li class="mr-5">
                    <svg class="w-8 h-8">
                        <use href="./images/hero/hero-icons.svg#icon-linkedin"></use>
                    </svg>
                </li>
                <li class="mr-5">
                    <svg class="w-8 h-8">
                        <use href="./images/hero/hero-icons.svg#icon-facebook"></use>
                    </svg>
                </li>
                <li class="mr-5">
                    <svg class="w-8 h-8">
                        <use href="./images/hero/hero-icons.svg#icon-instagram"></use>
                    </svg>
                </li>
                <li class="mr-5">
                    <svg class="w-8 h-8">
                        <use href="./images/hero/hero-icons.svg#icon-google"></use>
                    </svg>
                </li>
                <li class="mr-5">
                    <svg class="w-8 h-8">
                        <use href="./images/hero/hero-icons.svg#icon-twitter"></use>
                    </svg>
                </li>
                <li class="mr-5">
                    <svg class="w-8 h-8">
                        <use href="./images/hero/hero-icons.svg#icon-youtube"></use>
                    </svg>
                </li>
                <li>
                    <svg class="w-8 h-8">
                        <use href="./images/hero/hero-icons.svg#icon-pinterest"></use>
                    </svg>
                </li>
            </ul>
            <ul class="flex">
                <li class="mr-9 flex">
                    <a href=""
                        class="text-white text-[16px] leading-[1] font-semibold capitalize rounded-[20px] bg-button-blue px-[55px] py-[28px]">view
                        our plans</a>
                </li>
                <li class="flex items-center"><a href=""
                        class="text-text-blue text-[16px] leading-[1.7] capitalize">what we
                        offer</a></li>
            </ul>
        </div>
        <div class="flex justify-end w-full h-min">
            <div class="flex flex-col justify-between mr-4">
                <img alt="Bakery girl" src="./images/hero/hero-bakery.png" srcset="
              images/hero/hero-bakery.png      256w,
              images/hero/hero-bakery@2x.png   512w,
              images/hero/hero-bakery@3x.png   768w,
            
            " sizes="(min-width: 1200px) 256px, 100vh" />
                <img alt="A gril in a car" src="./images/hero/hero-car.png" srcset="
            images/hero/hero-car.png      256w,
            images/hero/hero-car@2x.png   512w,
            images/hero/hero-car@3x.png   768w,
          
          " sizes="(min-width: 1200px) 256px, 100vh" />
            </div>
            <div>
                <img alt="Small Greek city near to the sea" src="./images/hero/hero-greece.png" srcset="
              images/hero/hero-greece.png      299w,
              images/hero/hero-greece@2x.png   598w,
              images/hero/hero-greece@3x.png   897w,
            
            " sizes="(min-width: 1200px) 299px, 100vh" />
            </div>
        </div>
    </div>
</section>