<section class="flex justify-center pt-[57px] pb-[120px]">
  <div class="container flex justify-between relative">
    <div class="squiggle-large"></div>
    <div class="flex justify-center items-center w-full relative">
      <img
        alt="trolls playing around"
        src="./images/keeping-you-covered/social-trolls.png"
        srcset="
          images/keeping-you-covered/social-trolls.png     444w,
          images/keeping-you-covered/social-trolls@2x.png  888w,
          images/keeping-you-covered/social-trolls@3x.png 1332w
        "
        sizes="(min-width: 1200px) 444px, 100vh"
      />
      <div class="squiggle-small"></div>
      <div class="exclamation"></div>
      <div id="floating" class="floating-monster"></div>
      <div id="floating" class="floating-circle"></div>
    </div>
    <div>
      <h3 class="text-[20px] text-[#F89E52] font-medium leading-[1.7] mb-[20px] w-fit capitalize">
        keeping you covered
      </h3>
      <h2 class="text-[52px] text-[#0B0B0B] font-bold leading-[1.2] capitalize mb-[29px] w-[441px]">
        social gossiping slowing you down?
      </h2>
      <p class="text-[19px] text-[#727272] font-light leading-[1.7] mb-[19px] w-[499px]">
        Staying on top of how your brand is being used is an important aspect to
        <span class="text-[#191919] font-light underline">protect your identity and reputation</span
        >.
      </p>
      <p class="text-[19px] text-[#727272] font-light leading-[1.7] mb-[19px] w-[499px]">
        Our sophisticated
        <span class="text-[#191919] font-light underline">threat monitoring</span> system enables us
        to <span class="text-[#191919] font-light underline">quickly identify threats</span> towards
        your brand and deal with them to
        <span class="text-[#191919] font-light underline">prevent damage</span> to your reputation.
      </p>
      <p class="text-[19px] text-[#727272] font-light leading-[1.7] mb-[19] w-fit">
        The most common threats we encounter:
      </p>
      <div
        class="text-[13.6px] text-black leading-[1.7] flex flex-wrap w-[513px] gap-[6.39px] mb-[36px]"
      >
        <div class="rounded-[42px] border border-[#FFD78D] bg-[#FFFAF1] py-[3px] px-[17px] w-fit">
          Brand Impersonation
        </div>
        <div class="rounded-[42px] border border-[#FFEF3E] bg-[#FFE] py-[3px] px-[17px] w-fit">
          Compromised Account
        </div>
        <div class="rounded-[42px] border border-[#FFD78D] bg-[#FFFAF1] py-[3px] px-[17px] w-fit">
          Scams
        </div>
        <div class="rounded-[42px] border border-[#C0D4F1] bg-[#F6FCFF] py-[3px] px-[17px] w-fit">
          Hi-jacked Posts
        </div>
        <div class="rounded-[42px] border border-[#FFEF3E] bg-[#FFE] py-[3px] px-[17px] w-fit">
          Bad Sentiment
        </div>
        <div class="rounded-[42px] border border-[#FFB6D8] bg-[#FFF6FA] py-[3px] px-[17px] w-fit">
          Bad Reviews
        </div>
        <div class="rounded-[42px] border border-[#CFE2CF] bg-[#F7FFF7] py-[3px] px-[17px] w-fit">
          Competitor Envy
        </div>
        <div class="rounded-[42px] border border-[#C0D4F1] bg-[#F6FCFF] py-[3px] px-[17px] w-fit">
          False Media
        </div>
        <div class="rounded-[42px] border border-[#FFAFAF] bg-[#FFF6F6] py-[3px] px-[17px] w-fit">
          Low Social Authority
        </div>
        <div class="rounded-[42px] border border-[#DAC0FF] bg-[#FCF9FF] py-[3px] px-[17px] w-fit">
          Information Inaccuracy
        </div>
        <div class="rounded-[42px] border border-[#FFB6FF] bg-[#FFF6FF] py-[3px] px-[17px] w-fit">
          Missed Messages
        </div>
      </div>
      <a
        href=""
        class="text-white text-[16px] leading-[1] font-semibold capitalize rounded-[20px] bg-button-blue px-[55px] py-[28px] flex w-fit"
        >protect your brand</a
      >
    </div>
  </div>
</section>
