<section class="flex justify-center pt-[57px] pb-[120px]">
  <div>
    <div></div>
    <div>
      <h3>keeping you covered</h3>
      <h2>social gossiping slowing you down?</h2>
      <p>
        Staying on top of how your brand is being used is an important aspect to protect your
        identity and reputation
      </p>
      <p>
        Our sophisticated threat monitoring system enables us to quickly identify threats towards
        your brand and deal with them to prevent damage to your reputation.
      </p>
      <p>The most common threats we encounter:</p>
      <div></div>
    </div>
  </div>
</section>
