<section class="company flex justify-center pt-[120px] pb-[200px]">
  <div class="container flex flex-col items-center">
    <h4 class="text-[20px] text-[#F89E52] font-medium leading-[1.7] capitalize mb-[19px]">
      our company
    </h4>
    <h2
      class="text-[52px] text-[#0B0B0B] font-bold leading-[1.2] capitalize w-[807px] text-center mb-[29px]"
    >
      we create creative designs for every web page
    </h2>
    <p class="text[19px] text-[#727272] font-light leading-[1.7] text-center w-[580px] mb-[32px]">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been the industry's standard.
    </p>
    <div class="flex justify-between items-center w-full">
      <div>
        <img
          alt="web graphic"
          src="./images/our-company/company.png"
          srcset="
            images/our-company/company.png     585w,
            images/our-company/company@2x.png 1170w,
            images/our-company/company@3x.png 1755w
          "
          sizes="(min-width: 1200px) 585px, 100vh"
        />
      </div>
      <div>
        <h3 class="question-gradient">all your questions are here</h3>
        <ul class="mb-[60px]">
          <li class="relative mb-[16px]">
            <p class="check text-[18px] text-[#959EB6] font-medium leading-[1.4] ml-[40px]">
              Seo quotes to inspire your campaign
            </p>
          </li>
          <li class="relative mb-[16px]">
            <p class="check text-[18px] text-[#959EB6] font-medium leading-[1.4] ml-[40px]">
              Much easier to double your business
            </p>
          </li>
          <li class="relative mb-[16px]">
            <p class="check text-[18px] text-[#959EB6] font-medium leading-[1.4] ml-[40px]">
              Free page speed insights tool to find out exactly
            </p>
          </li>
          <li class="relative">
            <p class="check text-[18px] text-[#959EB6] font-medium leading-[1.4] ml-[40px]">
              Seo quotes to inspire your campaign
            </p>
          </li>
        </ul>
        <a
          href=""
          class="text-white text-[16px] leading-[1] font-semibold capitalize rounded-[20px] bg-button-blue px-[55px] py-[28px] flex w-fit"
          >discover more</a
        >
      </div>
    </div>
  </div>
</section>
