<section class="flex justify-center py-[120px] overflow-hidden relative">
  <div class="container flex">
    <div class="shape-one"></div>
    <div class="shape-two"></div>
    <div class="w-fit mr-[55px] relative">
      <h3
        class="text-[20px] text-[#F89E52] leading-[1.7] font-medium mb-[19px] w-fit"
      >
        Our Expertise is Your Success
      </h3>
      <h2
        class="text-[50px] text-[#0B0B0B] leading-[1.2] font-bold mb-[28px] w-[400px]"
      >
        Struggling to Make Engaging Content?
      </h2>
      <p
        class="w-[380px] text-[19px] text-[#727272] font-light leading-[1.7] mb-[36px]"
      >
        From the research and planning to creating striking images and videos
        for your posts, our service focuses on creating a
        <span class="text-[#191919] underline font-light">unique voice</span>
        for your brand that will
        <span class="text-[#191919] underline font-light"
          >engage your audience</span
        >
        and keep them coming back for more!
      </p>
      <a
        href=""
        class="flex w-fit text-white text-[16px] leading-[1] font-semibold capitalize rounded-[20px] bg-button-blue px-[55px] py-[28px]"
        >view more</a
      >
    </div>
    <div class="swiper mySwiper right-[20px]">
      <div class="swiper-wrapper flex">
        <div class="swiper-slide w-[370px] h-[514px]">
          <img
            class="slider"
            width="370"
            height="514"
            alt="grand opening baber shop instagram post screenshoot"
            src="./images/our-expertise/barber-shop.png"
          />
        </div>
        <div class="swiper-slide w-[370px] h-[514px]">
          <img
            class="slider"
            width="370"
            height="514"
            alt="summer instagram reel"
            src="./images/our-expertise/reel.png"
          />
        </div>
        <div class="swiper-slide w-[370px] h-[514px]">
          <img
            class="slider"
            width="370"
            height="514"
            alt="grand opening baber shop instagram post screenshoot"
            src="./images/our-expertise/pistachio.png"
          />
        </div>
        <div class="swiper-slide w-[370px] h-[514px]">
          <img
            class="slider"
            width="370"
            height="514"
            alt="grand opening baber shop instagram post screenshoot"
            src="./images/our-expertise/barber-shop.png"
          />
        </div>
        <div class="swiper-slide w-[370px] h-[514px]">
          <img
            class="slider"
            width="370"
            height="514"
            alt="summer instagram reel"
            src="./images/our-expertise/reel.png"
          />
        </div>
        <div class="swiper-slide w-[370px] h-[514px]">
          <img
            class="slider"
            width="370"
            height="514"
            alt="grand opening baber shop instagram post screenshoot"
            src="./images/our-expertise/pistachio.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>
