<section class="flex justify-center py-[120px]">
  <div class="container flex items-center justify-between relative">
    <div>
      <h3 class="text-[20px] text-[#F89E52] font-medium leading-[1.7] mb-[20px] w-fit capitalize">
        thinking "outside the box"
      </h3>
      <h2 class="text-[52px] text-[#0B0B0B] font-bold leading-[1.2] capitalize mb-[29px] w-[470px]">
        troubles growing your audience?
      </h2>
      <p class="text-[19px] text-[#727272] font-light leading-[1.7] mb-[35px] w-[581px]">
        <span class="text-[#191919] font-light underline">Attract new followers</span> that are
        <span class="text-[#191919] font-light underline">relevant</span> to your objectives by
        reaching
        <span class="text-[#191919] font-light underline">outside your social media</span> bubble,
        and you'll start to see a
        <span class="text-[#191919] font-light underline">quicker return on your investment</span>.
      </p>
      <p class="text-[19px] text-[#727272] font-light leading-[1.7] mb-[35px] w-[567px]">
        Along with <span class="text-[#191919] font-light underline">captivating visuals</span>, our
        teams perform countless
        <span class="text-[#191919] font-light underline">hours of research and planning</span> to
        deliver
        <span class="text-[#191919] font-light underline">optimized marketing campaigns</span> that
        target your <span class="text-[#191919] font-light underline">ideal audience</span> who are
        most likely to <span class="text-[#191919] font-light underline">convert into leads</span>.
      </p>
      <p class="text-[19px] text-[#727272] font-light leading-[1.7] mb-[37px] w-[553px]">
        By thoroughly planning your paid
        <span class="text-[#191919] font-light underline">Social Media Advertising</span> campaign,
        we are able to ensure that every penny of your
        <span class="text-[#191919] font-light underline">marketing budget is well spent</span>.
      </p>
      <a
        href=""
        class="text-white text-[16px] leading-[1] font-semibold capitalize rounded-[20px] bg-button-blue px-[55px] py-[28px] flex w-fit"
        >start driving sales</a
      >
    </div>
    <div class="flex w-fit box-content">
      <img
        alt="set of instagram posts"
        src="./images/outside-the-box/outside-the-box.png"
        srcset="
          images/outside-the-box/outside-the-box.png     585w,
          images/outside-the-box/outside-the-box@2x.png 1170w,
          images/outside-the-box/outside-the-box@3x.png 1755w
        "
        sizes="(min-width: 1200px) 585px, 100vh"
      />
    </div>
    <div class="shape-five"></div>
    <div class="shape-four--outside-the-box"></div>
  </div>
</section>
