<div class="swiper float-right mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"> <img class="mr-[25px] slider" width="370" height="514"
                alt="grand opening baber shop instagram post screenshoot"
                src="./images/our-expertise/barber-shop.png" /></div>
        <div class="swiper-slide"><img class="mr-[25px] slider" width="370" height="514" alt="summer instagram reel"
                src="./images/our-expertise/reel.png" />
        </div>
        <div class="swiper-slide"> <img class="mr-[25px] slider" width="370" height="514"
                alt="grand opening baber shop instagram post screenshoot" src="./images/our-expertise/pistachio.png" />
        </div>
        <div class="swiper-slide"> <img class="mr-[25px] slider" width="370" height="514"
                alt="grand opening baber shop instagram post screenshoot"
                src="./images/our-expertise/barber-shop.png" /></div>
        <div class="swiper-slide"><img class="mr-[25px] slider" width="370" height="514" alt="summer instagram reel"
                src="./images/our-expertise/reel.png" />
        </div>
        <div class="swiper-slide"> <img class="mr-[25px] slider" width="370" height="514"
                alt="grand opening baber shop instagram post screenshoot" src="./images/our-expertise/pistachio.png" />
        </div>
    </div>
</div>