<section class="flex justify-center pt-[112px] pb-[120px] bg-[#292F3E]">
    <div class="container flex">
        <div>
            <h2 class="text-[50px] text-white font-bold leading-[1.2] capitalize mb-[27]"><span
                    class="block text-[20px] text-[#FFD437] font-medium leading-[1.7] capitalize mb-[20px]">social
                    media
                    management
                    <span class="normal-case">is</span></span>building brands creating
                connections driving sales</h2>
            <p class="text-[19px] text-[#BBB] font-light leading-[1.7]">Social Media is <i class="font-light">more than
                    just posting</i> and
                showing off how
                many followers you have. It's a valuable addition to your
                marketing strategy that <span class="underline font-light">builds trust</span> and <span
                    class="underline font-light">creates
                    connections</span>
                with potential customers to <span class="underline font-light">drive sales</span> and <span
                    class="underline font-light">increase your revenue</span>.
            <p class="text-[19px] text-[#BBB] font-light leading-[1.7] py-[15px]"></span>Save your time and
                money by partnering with us and
                start
                seeing results that give you the <span class="underline font-light">highest return on
                    investment</span>.</p>
            <p class="text-[19px] text-[#BBB] font-light leading-[1.7] pb-[36px]">After all; when you grow, we grow
                together.</p>
            </p>
            <ul class="flex">
                <li class="mr-9 flex">
                    <a href=""
                        class="text-white text-[16px] leading-[1] font-semibold capitalize rounded-[20px] bg-button-blue px-[55px] py-[28px]">contact
                        us</a>
                </li>
                <li class="flex items-center"><a href="" class="text-text-blue text-[16px] leading-[1.7] capitalize">how
                        can we help</a></li>
            </ul>
        </div>
        <div class="flex px-[27.5px]">
            <div class="mr-[30px] mt-20">
                <div
                    class="offices bg-no-repeat bg-[length:141px_135px] bg-left-bottom w-[250px] h-[250px] bg-white rounded-[20px] flex flex-col justify-center items-center mb-[30px]">
                    <p id="offices" class="text-[50px] text-[#F76766] leading-[1] font-bold tracking-[-1px] mb-[13px]">
                    </p>
                    <p class="text-[18px] text-[#6B645D] font-medium leading-[1.4] capitalize">offices</p>
                </div>
                <div
                    class="customers bg-no-repeat bg-[length:139px_140px] bg-left-bottom w-[250px] h-[250px] bg-white rounded-[20px] flex flex-col justify-center items-center">
                    <p id="customers"
                        class="text-[50px] text-[#57C0CE] leading-[1] font-bold tracking-[-1px] mb-[13px]">3K</p>
                    <p class="text-[18px] text-[#6B645D] font-medium leading-[1.4] capitalize">customers</p>
                </div>
            </div>
            <div>
                <div
                    class="workers bg-no-repeat bg-[length:122px_148px] bg-right-bottom w-[250px] h-[250px] bg-white rounded-[20px] flex flex-col justify-center items-center mb-[30px]">
                    <p id="workers" class="text-[50px] text-[#265FDB] leading-[1] font-bold tracking-[-1px] mb-[13px]">
                        10</p>
                    <p class="text-[18px] text-[#6B645D] font-medium leading-[1.4] capitalize">workers</p>
                </div>
                <div
                    class="projects bg-no-repeat bg-[length:118px_142px] bg-left-bottom w-[250px] h-[250px] bg-white rounded-[20px] flex flex-col justify-center items-center">
                    <p id="projects" class="text-[50px] text-[#A666F7] leading-[1] font-bold tracking-[-1px] mb-[13px]">
                        100+</p>
                    <p class="text-[18px] text-[#6B645D] font-medium leading-[1.4] capitalize">projects</p>
                </div>
            </div>
        </div>
    </div>
</section>