<section class="trusted w-full flex justify-center">
  <div class="container">
    <div class="trusted--shadow flex justify-center bg-[#1D1D25] px-[100px] py-[62.5px] gap-[90px] rounded-[20px]">
      <img alt="Entrepreneur logo" src="./images/trusted/entrepreneur-logo.png" srcset="
          images/trusted/entrepreneur-logo.png 198w,
          images/trusted/entrepreneur-logo@2x.png 396w,
          images/trusted/entrepreneur-logo@3x.png 594w
        " sizes="(min-width: 1200px) 198px, 100vh" />

      <img alt="Google logo" src="./images/trusted/google-logo.png" srcset="
          images/trusted/google-logo.png    117w,
          images/trusted/google-logo@2x.png 234w,
          images/trusted/google-logo@3x.png 351w
        " sizes="(min-width: 1200px) 117px, 100vh" />

      <img alt="Facebook Marketing logo" src="./images/trusted/facebook-marketing.png" srcset="
          images/trusted/facebook-marketing.png    268w,
          images/trusted/facebook-marketing@2x.png 536w,
          images/trusted/facebook-marketing@3x.png 804w
        " sizes="(min-width: 1200px) 268px, 100vh" />

      <img alt="Meta logo" src="./images/trusted/meta-logo.png" srcset="
          images/trusted/meta-logo.png    150w,
          images/trusted/meta-logo@2x.png 300w,
          images/trusted/meta-logo@3x.png 450w
        " sizes="(min-width: 1200px) 150px, 100vh" />
    </div>
  </div>
</section>