<section class="pt-[120px] pb-[111px] bg-[#292F3E] overflow-hidden">
  <div class="flex flex-col items-center self-center">
    <h3 class="text-[20px] text-[#FFD437] font-medium leading-[1.7] mb-[20px] capitalize">
      visually impressive
    </h3>
    <h2
      class="text-[52px] text-white font-bold leading-[1.2] capitalize w-[544px] text-center mb-[70px]"
    >
      we can't wait to redefine your brand
    </h2>
  </div>
  <div class="swiper bigSwiper mb-[110px] select-none">
    <div class="swiper-wrapper">
      <div class="swiper-slide bigSwiper-slide flex flex-col">
        <img
          class="mb-[30px]"
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider1.png"
          srcset="
            images/visually-impressive/slide1-slider1.png     410w,
            images/visually-impressive/slide1-slider1@2x.png  820w,
            images/visually-impressive/slide1-slider1@3x.png 1230w
          "
          sizes="(min-width: 1200px) 410, 100vh"
        />
        <img
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider2.png"
          srcset="
            images/visually-impressive/slide1-slider2.png     410w,
            images/visually-impressive/slide1-slider2@2x.png  820w,
            images/visually-impressive/slide1-slider2@3x.png 1230w
          "
          sizes="(min-width: 1200px) 410px, 100vh"
        />
      </div>
      <div class="swiper-slide bigSwiper-slide flex flex-col">
        <img
          class="mb-[30px]"
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider1.png"
          srcset="
            images/visually-impressive/slide2-slider1.png     410w,
            images/visually-impressive/slide2-slider1@2x.png  820w,
            images/visually-impressive/slide2-slider1@3x.png 1230w
          "
          sizes="(min-width: 1200px) 410, 100vh"
        />
        <img
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider2.png"
          srcset="
            images/visually-impressive/slide2-slider2.png     410w,
            images/visually-impressive/slide2-slider2@2x.png  820w,
            images/visually-impressive/slide2-slider2@3x.png 1230w
          "
          sizes="(min-width: 1200px) 410px, 100vh"
        />
      </div>
      <div class="swiper-slide bigSwiper-slide flex flex-col">
        <img
          class="mb-[30px]"
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider1.png"
          srcset="
            images/visually-impressive/slide3-slider1.png     410w,
            images/visually-impressive/slide3-slider1@2x.png  820w,
            images/visually-impressive/slide3-slider1@3x.png 1230w
          "
          sizes="(min-width: 1200px) 410, 100vh"
        />
        <img
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider2.png"
          srcset="
            images/visually-impressive/slide3-slider2.png     410w,
            images/visually-impressive/slide3-slider2@2x.png  820w,
            images/visually-impressive/slide3-slider2@3x.png 1230w
          "
          sizes="(min-width: 1200px) 410px, 100vh"
        />
      </div>
      <div class="swiper-slide bigSwiper-slide flex flex-col">
        <img
          class="mb-[30px]"
          alt="instagram post"
          src="./images/visually-impressive/slide4-slider1.png"
          srcset="
            images/visually-impressive/slide4-slider1.png  410w,
            images/visually-impressive/slide4-slider1.png  820w,
            images/visually-impressive/slide4-slider1.png 1230w
          "
          sizes="(min-width: 1200px) 410, 100vh"
        />
        <img
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider2.png"
          srcset="
            images/visually-impressive/slide4-slider2.png  410w,
            images/visually-impressive/slide4-slider2.png  820w,
            images/visually-impressive/slide4-slider2.png 1230w
          "
          sizes="(min-width: 1200px) 410px, 100vh"
        />
      </div>
      <div class="swiper-slide bigSwiper-slide flex flex-col">
        <img
          class="mb-[30px]"
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider1.png"
          srcset="
            images/visually-impressive/slide1-slider1.png     410w,
            images/visually-impressive/slide1-slider1@2x.png  820w,
            images/visually-impressive/slide1-slider1@3x.png 1230w
          "
          sizes="(min-width: 1200px) 410, 100vh"
        />
        <img
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider2.png"
          srcset="
            images/visually-impressive/slide1-slider2.png     410w,
            images/visually-impressive/slide1-slider2@2x.png  820w,
            images/visually-impressive/slide1-slider2@3x.png 1230w
          "
          sizes="(min-width: 1200px) 410px, 100vh"
        />
      </div>
      <div class="swiper-slide bigSwiper-slide flex flex-col">
        <img
          class="mb-[30px]"
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider1.png"
          srcset="
            images/visually-impressive/slide2-slider1.png     410w,
            images/visually-impressive/slide2-slider1@2x.png  820w,
            images/visually-impressive/slide2-slider1@3x.png 1230w
          "
          sizes="(min-width: 1200px) 410, 100vh"
        />
        <img
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider2.png"
          srcset="
            images/visually-impressive/slide2-slider2.png     410w,
            images/visually-impressive/slide2-slider2@2x.png  820w,
            images/visually-impressive/slide2-slider2@3x.png 1230w
          "
          sizes="(min-width: 1200px) 410px, 100vh"
        />
      </div>
      <div class="swiper-slide bigSwiper-slide flex flex-col">
        <img
          class="mb-[30px]"
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider1.png"
          srcset="
            images/visually-impressive/slide3-slider1.png     410w,
            images/visually-impressive/slide3-slider1@2x.png  820w,
            images/visually-impressive/slide3-slider1@3x.png 1230w
          "
          sizes="(min-width: 1200px) 410, 100vh"
        />
        <img
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider2.png"
          srcset="
            images/visually-impressive/slide3-slider2.png     410w,
            images/visually-impressive/slide3-slider2@2x.png  820w,
            images/visually-impressive/slide3-slider2@3x.png 1230w
          "
          sizes="(min-width: 1200px) 410px, 100vh"
        />
      </div>
      <div class="swiper-slide bigSwiper-slide flex flex-col">
        <img
          class="mb-[30px]"
          alt="instagram post"
          src="./images/visually-impressive/slide4-slider1.png"
          srcset="
            images/visually-impressive/slide4-slider1.png  410w,
            images/visually-impressive/slide4-slider1.png  820w,
            images/visually-impressive/slide4-slider1.png 1230w
          "
          sizes="(min-width: 1200px) 410, 100vh"
        />
        <img
          alt="instagram post"
          src="./images/visually-impressive/slide1-slider2.png"
          srcset="
            images/visually-impressive/slide4-slider2.png  410w,
            images/visually-impressive/slide4-slider2.png  820w,
            images/visually-impressive/slide4-slider2.png 1230w
          "
          sizes="(min-width: 1200px) 410px, 100vh"
        />
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="container flex items-center justify-between">
      <p class="text-[52px] text-white font-bold leading[1.2] capitalize select-none">
        what are you waiting for?
      </p>
      <div class="flex w-[106px] justify-between">
        <div class="swiper-button-prev mr-[10px]">
          <svg>
            <use href="./images/header/header-icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg>
            <use href="./images/header/header-icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
