<section class="flex justify-center py-[120px]">
  <div class="container flex items-center relative">
    <div class="flex mr-[75px] w-fit box-content">
      <img
        alt="messanger conversation"
        src="./images/worry-free/worry-free.png"
        srcset="
          images/worry-free/worry-free.png     615w,
          images/worry-free/worry-free@2x.png 1230w,
          images/worry-free/worry-free@3x.png 1845w
        "
        sizes="(min-width: 1200px) 615px, 100vh"
      />
    </div>
    <div class="w-fit">
      <h3 class="text-[20px] text-[#F89E52] font-medium leading-[1.7] mb-[19px] w-fit capitalize">
        worry-free
      </h3>
      <h2 class="text-[45px] text-[#0B0B0B] font-bold leading-[1.2] mb-[25px] w-[518px]">
        Risking Your Reputation and Losing Sales?
      </h2>
      <p class="text-[19px] text-[#727272] font-light leading-[1.7] mb-[16px] w-[415px]">
        Our 24/7 Inbox Management is your answer to keep up with messages and not miss out on
        potential leads.
      </p>
      <p class="text-[19px] text-[#727272] font-light leading-[1.7] mb-[37px] w-[390px]">
        By offering <span class="text-[#191919] font-light underline">quick replies</span> to your
        audience you will
        <span class="text-[#191919] font-light underline">elevate your brands image</span> and help
        you <span class="text-[#191919] font-light underline">get the sale</span>.
      </p>
      <a
        href=""
        class="text-white text-[16px] leading-[1] font-semibold capitalize rounded-[20px] bg-button-blue px-[55px] py-[28px] flex w-fit"
        >start replying faster</a
      >
    </div>
    <div class="shape-three"></div>
    <div class="shape-four"></div>
  </div>
</section>
