.navlink {
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: color, fill;
  &:is(:hover, :focus, :active) {
    color: #f89e52;
    fill: #f89e52;
  }
}

.trusted {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(41, 47, 62, 1) 50%);

  &--shadow {
    overflow: hidden;
    box-shadow: 0px 44px 64px 0px rgba(0, 0, 0, 0.15);
  }
}

.company {
  background-image: url('../images/our-company/company-background.png');
  background-repeat: no-repeat;
  background-size: 885px 1150px;
  background-position: right;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/our-company/company-background@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/our-company/company-background@3x.png');
  }
}

.check::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url('../images/our-company/check.png');
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/our-company/check@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/our-company/check@3x.png');
  }
}

.question-gradient {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  max-width: 260px;
  margin-bottom: 26px;
  background: linear-gradient(91deg, #6071d9 36.51%, #aa676f 63.73%, #ccb41a 97.49%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mySwiper {
  min-width: 1136px;
  min-height: 566px;
  width: 100%;
  height: 100%;
  padding: 26px 0 !important;
}

.mySwiper-slide {
  width: 370px !important;
  height: 514px !important;
}

.swiper-button-prev {
  position: static !important;
  width: 48px !important;
  height: 48px !important;
  margin: 0 !important;
  border-radius: 50%;
  background-color: rgba(235, 235, 235, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    content: '' !important;
  }

  & svg {
    transform: rotate(90deg);
    width: 24px;
    height: 24px;
  }
}

.swiper-button-next {
  position: static !important;
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
  background-color: rgba(235, 235, 235, 0.5);
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '' !important;
  }

  & svg {
    transform: rotate(-90deg);
    width: 24px;
    height: 24px;
  }
}

.shape-one {
  position: absolute;
  top: -40px;
  left: -90px;
  width: 68px;
  height: 73px;
  background-image: url('../images/shapes/shape-one.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.shape-two {
  position: absolute;
  bottom: -50px;
  left: 230px;
  width: 109px;
  height: 80px;
  background-image: url('../images/shapes/shape-two.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.shape-three {
  position: absolute;
  top: -50px;
  right: 225px;
  width: 67px;
  height: 78px;
  background-image: url('../images/shapes/shape-three.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.shape-four {
  position: absolute;
  bottom: 20px;
  right: 123px;
  width: 89px;
  height: 79px;
  background-image: url('../images/shapes/shape-four.png');
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/shapes/shape-four@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/shapes/shape-four@3x.png');
  }

  &--outside-the-box {
    position: absolute;
    width: 89px;
    height: 79px;
    bottom: 0;
    left: 340px;
    background-image: url('../images/shapes/shape-four.png');
    background-repeat: no-repeat;
    background-size: contain;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/shapes/shape-four@2x.png');
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
      background-image: url('../images/shapes/shape-four@3x.png');
    }
  }
}

.shape-five {
  position: absolute;
  top: -40px;
  right: 471px;
  width: 68px;
  height: 64px;
  background-image: url('../images/shapes/shape-five.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.squiggle-small {
  position: absolute;
  bottom: 80px;
  left: 155px;
  width: 94px;
  height: 138px;
  background-image: url('../images/shapes/small-squiggle.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.squiggle-large {
  position: absolute;
  top: -90px;
  right: -65px;
  width: 146px;
  height: 214px;
  background-image: url('../images/shapes/large-squiggle.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.exclamation {
  position: absolute;
  top: 100px;
  right: 200px;
  width: 90px;
  height: 123px;
  background-image: url('../images/keeping-you-covered/exclamation.png');
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/keeping-you-covered/exclamation@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/keeping-you-covered/exclamation@3x.png');
  }
}

.floating-monster {
  position: absolute;
  top: 120px;
  left: 100px;
  width: 45px;
  height: 45px;
  background-image: url('../images/keeping-you-covered/floating-monster.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: floatAround 20s infinite cubic-bezier(0.42, 0, 0.58, 1);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/keeping-you-covered/floating-monster@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/keeping-you-covered/floating-monster@3x.png');
  }
}

.floating-circle {
  position: absolute;
  bottom: 120px;
  right: 100px;
  width: 27px;
  height: 27px;
  background-image: url('../images/keeping-you-covered/floating-circle.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: floatAround 20s infinite ease-in-out;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/keeping-you-covered/floating-circle@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/keeping-you-covered/floating-circle@3x.png');
  }
}

.offices {
  background-image: url('../images/counters/counter-office.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/counters/counter-office@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/counters/counter-office@3x.png');
  }
}

.customers {
  background-image: url('../images/counters/counter-customers.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/counters/counter-customers@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/counters/counter-customers@3x.png');
  }
}

.workers {
  background-image: url('../images/counters/counter-workers.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/counters/counter-workers@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/counters/counter-workers@3x.png');
  }
}

.projects {
  background-image: url('../images/counters/counter-projects.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/counters/counter-projects@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/counters/counter-projects@3x.png');
  }
}

.ball-small {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 28.8px;
  top: 85.58px;
  background-image: url('../images/hero/ball-small.png');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/hero/ball-small@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/hero/ball-small@3x.png');
  }
}

.ball-medium {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 234.72px;
  top: 108.91px;
  background-image: url('../images/hero/ball-medium.png');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/hero/ball-medium@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/hero/ball-medium@3x.png');
  }
}

.ball-big {
  width: 43px;
  height: 43px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 28.8px;
  bottom: 213.94px;
  background-image: url('../images/hero/ball-big.png');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/hero/ball-big@2x.png');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 268dpi), (min-resolution: 3dppx) {
    background-image: url('../images/hero/ball-big@3x.png');
  }
}

@keyframes floatUpDown {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-500px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}

@keyframes floatAround {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translate(60px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translate(60px) rotate(-360deg);
  }
}
